<div class="location-Check"> Services Available in :  
  <div class="location-Check2">
  Saoli, Maharashtra
  </div> , Location
</div>
<br><br>

<!-- This is electric Service -->
<div class="service-Main row" >
    <div *ngFor="let product of products" class="service1 col-md-4 mb-4 mr-4">
        <div class="card" style="width: 18rem; height : 24.5rem; ">
          <img [src]="product.imageUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description.length > 94 ? product.description.substring(0, 94) + '...' : product.description }}</p>
            <a href="#" class="btn btn-primary">Get Service Details</a>
          </div>
        </div>
    </div>
</div>


