<div class="location-Check"> Services Available in :  
  <div class="location-Check2">
  Saoli, Maharashtra
  </div> , Location
</div>
<br><br>

<!-- This is electric Service -->
<div class="service-Main" *ngIf="isElectricS">
    <div class="service1">
      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/om-lelectric.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Om Elettrical Service</h5>
          <p class="card-text">Om AN Electrical Service provides reliable and professional electrical solutions for residential.... </p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
    <div class="service2">

      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/ANElectric.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AN Elettrical Service</h5>
          <p class="card-text">We will take care of all type of electric service related to home applicances and Farming.</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
</div>

<!-- This is Medical Service -->
<div class="service-Main" *ngIf="isMedicalS">
    <div class="service1">
      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/medi1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marlawar Medical Service</h5>
          <p class="card-text">Dr. Marlawar Sir will assist and provide Mobile Hospital im Emergency</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
    <div class="service2">

      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/medi2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shende Medical Service</h5>
          <p class="card-text">Contact Emergency to get help from Dr. Shende sir's and co-workers assistance for Medical help</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
</div>

<!-- This is Irrigation Service -->
<div class="service-Main" *ngIf="isIrrigationS">
    <div class="service1">
      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/irr1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kanchan Irrigations</h5>
          <p class="card-text">Kanchan irrigation services provide expertise in designing, installing, and maintaining irrigation systems, ensuring efficient water use for optimal crop growth.</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
    <div class="service2">

      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/irr2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Satya Farming and Irrigation</h5>
          <p class="card-text">
            Satya Farming and Irrigation Service Company offers comprehensive agricultural solutions, specializing in farming and irrigation services. With a commitment ....</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
</div>

<!-- This is Construction Assistance Service -->
<div class="service-Main" *ngIf="isConstructionAS">
    <div class="service1">
      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/koltehomes.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kolte Build and Contraction</h5>
          <p class="card-text">Get assistance and help from Kolte group to build your Farm, Home and other construction assistance</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
    <div class="service2">

      <div class="card" style="width: 18rem; height : 24.5rem;">
        <img src="assets/wadhaihomes.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rasse's Homes</h5>
          <p class="card-text">We construct your dream home. Having 30+ year of Service on various Projects...</p>
          <a href="#" class="btn btn-primary">Get Service Details</a>
        </div>
      </div>
    </div>
</div>

