<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header (columnsCountChange)="onColumnsCountChange($event)"></app-products-header>

    <!-- This is Grid List -->
    <!-- <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-box
        [product]="product"
        (addToCart)="onAddToCart($event)"
        class="w-full"
        [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
    </mat-grid-list> -->

      <!-- This is Services App -->
    <app-kisan-services  *ngIf="!isMarketShow" [categoryType]="category"></app-kisan-services>
    <app-kisan-market [product]="products"  (addToCart)="onAddToCart($event)" *ngIf="isMarketShow"[categoryType]="category" ></app-kisan-market >

  </mat-drawer-content>
</mat-drawer-container>
