 <div class="location-Check"> Products Available in :  
    <div class="location-Check2">
    Saoli, Maharashtra
    </div> , Location
</div>
<br><br>


<div class="marketPage">
    <div class="market-Main border">
        <div  class="prd-Tittle">Cotton Seed Kaveri ATM BG-2</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/prd1.jpeg" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">  Bollgard Seeds</div>
                    </div>
                    <div class="dtl1"></div>
                    <div class="dtl1"></div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹850</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
        </div>
    </div>

    <br><br><br><br><br><br><br>
    
    <div class="market-Main border">
        <div  class="prd-Tittle">Torai , Turai Ke Beej</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/dodake.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">  Iris Hybrid Pvt. Ltd.</div>
                    </div>
                    <div class="dtl1">Description:
                        <div class="dlt1-1">Iris Hybrid Vegetable Seeds F1 Hybrid Super Max RIdge Gourd , Attractive Green, Torai , Turai Ke Beej.</div>
                    </div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹351.00</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
    </div>
    </div>

</div>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>

 <div class="marketPage">
    <div class="market-Main border">
        <div  class="prd-Tittle">Manual Operated Sprayer 16 Litre Tank </div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/pump.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2"> Pad Corp</div>
                    </div>
                    <div class="dtl1">Description:
                        <div class="dlt1-1">Pad Corp Manual Operated Sprayer 16 Litre Tank Capacity, Light Weight, Easy To Handle, 4 Set of Nozzles</div>
                    </div>
                    <div class="dtl1"></div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹2372.00</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
        </div>
    </div>

    <div class="market-Main border">
        <div  class="prd-Tittle">Manual Hand Weeder With Long 4.3 Feet Handles .....</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/handle1.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2"> M. N. AGRO INDUSTRIES</div>
                    </div>
                    <div class="dtl1">Description:
                        <div class="dlt1-1"> Mahan GHH-1.8 Manual Hand Weeder With Long 4.3 Feet Handles, Easy To Use, Light Weight</div>
                    </div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹945.00</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
    </div>
    </div>

</div>

<br><br><br><br><br><br>


<div class="marketPage">
    <div class="market-Main border">
        <div  class="prd-Tittle">Cotton Seed Kaveri ATM BG-2</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/prd1.jpeg" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">  Bollgard Seeds</div>
                    </div>
                    <div class="dtl1"></div>
                    <div class="dtl1"></div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹850</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
        </div>
    </div>

    <br><br><br><br><br><br><br>
    
    <div class="market-Main border">
        <div  class="prd-Tittle">Torai , Turai Ke Beej</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/dodake.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">  Iris Hybrid Pvt. Ltd.</div>
                    </div>
                    <div class="dtl1">Description:
                        <div class="dlt1-1">Iris Hybrid Vegetable Seeds F1 Hybrid Super Max RIdge Gourd , Attractive Green, Torai , Turai Ke Beej.</div>
                    </div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹351.00</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
    </div>
    </div>

</div>

<br><br><br><br><br><br><br><br><br>

<div class="marketPage">
    <div class="market-Main border">
        <div  class="prd-Tittle">GACIL Micronutrient Mixture Fertilizer Liquid </div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/pesti1.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">  Gujarat Agri-Chem Industries pvt</div>
                    </div>
                    <div class="dtl1">Description:
                        <div class="dlt1-1">GACIL Micronutrient Mixture Fertilizer Liquid for Vegetable, Fruits And All Type of Farming Crops</div>
                    </div>
                    <div class="dtl1"></div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹1449.00</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
        </div>
    </div>

    <div class="market-Main border">
        <div  class="prd-Tittle">Syngenta Polytrin C 44 EC Insecticide</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/pesti2.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">  Iris Hybrid Pvt. Ltd.</div>
                    </div>
                    <div class="dtl1">Description:
                        <div class="dlt1-1">Insecticide acardal properties for use in vegetable crops and cotton against caterpillars, aphids, mites and other sucking pests.</div>
                    </div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">  In Stock</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹559.00</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
    </div>
    </div>

</div>

<br><br><br><br><br><br>



<div class="marketPage">
    <div class="market-Main border">
        <div  class="prd-Tittle">Get Milk Service </div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/pesti1.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Operate By:<br>
                    </div>
                    <div class="dlt1-2"> Chakpiranji Village Mik</div>
                    <div class="dtl1">Description:
                    </div>
                    <div class="dlt1-1">We provide the milk on Daily and Monthly Basis</div>
                    <div class="dtl1">Daily:
                        <div class="dlt1-"> ₹26.00 / Liter</div>
                    </div>
                    <div class="dtl1">Monthly:
                        <div class="dlt1-"> ₹750.00 / Liter</div>
                    </div>
                    
                    
                </div>
             
                <div class="dtl-value">₹750.00
                    <div class="dtl-value2">
                        /Lt/Month
                    </div>
                </div> 
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Contact Us</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
        </div>
    </div>

    
    <div class="market-Main border">
        <div  class="prd-Tittle">Provide Your Milk Service </div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" src="assets/pesti1.png" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Operate By:<br>
                    </div>
                    <div class="dlt1-2"> Update your service here</div>
                    <div class="dtl1">Description:
                    </div>
                    <div class="dlt1-1">We are accepting the milk on Daily and Monthly Basis</div>
                    <div class="dtl1">Daily:
                        <div class="dlt1-"> Update Money in ₹ per/ Liter</div>
                    </div>
                    <div class="dtl1">Monthly:
                        <div class="dlt1-"> Update Money in ₹ per/ Liter</div>
                    </div>
                    
                    
                </div>
             
                <div class="dtl-value">
                    <div class="dtl-value2">
                        Accepting Milk Servive in /Lt/Month
                    </div>
                </div> 
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Update Milk Service</button>
        </div>
        </div>
    </div>

</div>