 <div class="location-Check"> Products Available in :  
    <div class="location-Check2">
    Saoli, Maharashtra
    </div> , Location
</div>
<br><br>


<div class="marketPage row">
    <div  *ngFor="let product of products" class="market-Main border col-md-4 mb-4 mr-4">
        <div  class="prd-Tittle">{{ product.name }}</div>
    
        <div class="product-details-Main">
            <div class="product-img">
                <img class="prd-img1" [src]="product.imageUrl" alt="...">
            </div>
            <div class="product-details">
    
                <div class="dtl-Main">
                    <div class="dtl1">Brand:
                        <div class="dlt1-2">{{ product.brand }}</div>
                    </div>
                    <div class="dtl1"></div>
                    <div class="dtl1"></div>
                    <div class="dtl1">Availability:
                        <div class="dlt1-3">{{ product.availability }}</div>
                    </div>
                </div>
             
                <div class="dtl-value">₹{{ product.price }}</div>
            </div>
        </div>
        <div class="add-details">
        <hr>
        <div class="add-details2">
            <button type="button" class="btn1 btn btn-secondary">Add to Card</button>
            <button type="button" class="btn2 btn btn-success">Order</button>
        </div>
        </div>
    </div>

</div>